body {
  background: #666;
}

.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}

.headerRegion, .mainTextBlock {
  box-shadow: 0px 0px 15px 5px #555;
  padding: 10px 15px;
  background: #eee;
}
.headerRegion {
  margin: 0;
}
.mainTextBlock {
    margin-top: 36px;
}